<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialEngineer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/HelperFunctions.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

   
</head>
<body>
    <div id="nav" class="navbar navbar-inverse navbar-fixed-top" style="color:red;">
        <div class="container" id="containur">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Social.Engineer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
            </div>
        </div>
    </div>
 
    <div class="container body-content" id="contd">
        @RenderBody()
    </div>

    <div class="container">
        <footer id="mainFooter">
            <p id="footerText">&copy; @DateTime.Now.Year - Intellectual  property of Mark Smith</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullcontact")
    @RenderSection("scripts", required: false)

    
</body>
</html>

<style>

  
    #mainFooter {
        text-align: center;
        
        background-color: white;
        height: 100px;
        border-style: solid;
        border-color: darkgray;
        border-width: 1px;
        border-radius: 5px;
    }
    #footerText {
        margin-top: 38px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

</style>